<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="4.2.1" targetFramework="net461" />
  <package id="CommonServiceLocator" version="2.0.3" targetFramework="net461" />
  <package id="ksemenenko.GoogleAnalytics" version="1.0.3.2" targetFramework="net461" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="net461" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="net461" />
  <package id="Microsoft.CodeCoverage" version="1.0.3" targetFramework="net461" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="net461" />
  <package id="Microsoft.NET.Test.Sdk" version="15.6.1" targetFramework="net461" />
  <package id="Microsoft.TestPlatform.TestHost" version="15.6.1" targetFramework="net461" />
  <package id="Moq" version="4.8.2" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="11.0.1" targetFramework="net461" />
  <package id="NUnit" version="3.10.1" targetFramework="net461" />
  <package id="NUnit.Console" version="3.8.0" targetFramework="net461" />
  <package id="NUnit.ConsoleRunner" version="3.8.0" targetFramework="net461" />
  <package id="NUnit.Extension.NUnitProjectLoader" version="3.6.0" targetFramework="net461" />
  <package id="NUnit.Extension.NUnitV2Driver" version="3.7.0" targetFramework="net461" />
  <package id="NUnit.Extension.NUnitV2ResultWriter" version="3.6.0" targetFramework="net461" />
  <package id="NUnit.Extension.TeamCityEventListener" version="1.0.3" targetFramework="net461" />
  <package id="NUnit.Extension.VSProjectLoader" version="3.7.0" targetFramework="net461" />
  <package id="NUnit3TestAdapter" version="3.10.0" targetFramework="net461" />
  <package id="OpenCover" version="4.6.519" targetFramework="net461" />
  <package id="Prism.Core" version="7.0.0.396" targetFramework="net461" />
  <package id="Prism.Forms" version="7.0.0.396" targetFramework="net461" />
  <package id="ReactiveProperty" version="4.2.0" targetFramework="net461" />
  <package id="System.Diagnostics.DiagnosticSource" version="4.4.1" targetFramework="net461" />
  <package id="System.Net.Http" version="4.3.3" targetFramework="net461" />
  <package id="System.Reactive" version="3.1.1" targetFramework="net461" />
  <package id="System.Reactive.Core" version="3.1.1" targetFramework="net461" />
  <package id="System.Reactive.Interfaces" version="3.1.1" targetFramework="net461" />
  <package id="System.Reactive.Linq" version="3.1.1" targetFramework="net461" />
  <package id="System.Reactive.PlatformServices" version="3.1.1" targetFramework="net461" />
  <package id="System.Reactive.Windows.Threading" version="3.1.1" targetFramework="net461" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.1" targetFramework="net461" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.2" targetFramework="net461" />
  <package id="System.Threading.Tasks.Extensions" version="4.3.0" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.4.0" targetFramework="net461" />
  <package id="Unity" version="5.7.3" targetFramework="net461" />
  <package id="Xamarin.Forms" version="2.5.0.280555" targetFramework="net461" />
</packages>